<div class="col-md-6 col-md-offset-3">
    <h2>Enter OTP</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !OTP.valid }">
            <label for="OTP">OTP</label>
            <input type="text" class="form-control" name="OTP" [(ngModel)]="model.OTP" #OTP="ngModel"
             required maxlength="4" minlength="4" maxlength="4"/>
            <div *ngIf="f.submitted">
                    <div *ngIf="OTP.invalid && (OTP.dirty || OTP.touched)" 
                    class="help-block"> 
                Please Enter OTP
            </div>
            <div *ngIf="OTP.invalid && (OTP.dirty || OTP.touched) && OTP.errors.minlength" class="help-block">
                    OTP must be at least 4 characters long.
                  </div>
                  
            
            
        </div>
        </div>
  
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Submit</button>    
           
        </div>
    </form>
</div>
